In [1]:
import pandas as pd
import datetime

In [3]:
# Lets create a variable with dates, and then from dates we extract the weekdays
# create a list of dates having 20 days difference from today
ds_base = datetime.datetime.today()
ds_date_list = [ds_base - datetime.timedelta(days=x) for x in range(0,20)]
ds = pd.DataFrame(ds_date_list)
ds.columns=['day']

In [4]:
ds.head()

                         day
0 2022-11-24 07:54:14.487848
1 2022-11-23 07:54:14.487848
2 2022-11-22 07:54:14.487848
3 2022-11-21 07:54:14.487848
4 2022-11-20 07:54:14.487848

In [6]:
# Lets extract the week days
ds['weekdays'] = ds['day'].dt.day_name()

In [7]:
ds.head()

                         day   weekdays
0 2022-11-24 07:54:14.487848   Thursday
1 2022-11-23 07:54:14.487848  Wednesday
2 2022-11-22 07:54:14.487848    Tuesday
3 2022-11-21 07:54:14.487848     Monday
4 2022-11-20 07:54:14.487848     Sunday

In [10]:
# Now lets perform ordinal encoding/ label encoding
# Here we will map sunday to 1, monday to 2, ... , saturday to 7
# This ensures that weekend will get higher weights, which is what most people want
weekday_dict = {
    'Sunday':1,
    'Monday':2,
    'Tuesday':3,
    'Wednesday':4,
    'Thursday':5,
    'Friday': 6,
    'Saturday':7
}

ds['weekdays_ordinal'] = ds['weekdays'].map(weekday_dict)

In [12]:
ds.head(10)

                         day   weekdays  weekdays_ordinal
0 2022-11-24 07:54:14.487848   Thursday                 5
1 2022-11-23 07:54:14.487848  Wednesday                 4
2 2022-11-22 07:54:14.487848    Tuesday                 3
3 2022-11-21 07:54:14.487848     Monday                 2
4 2022-11-20 07:54:14.487848     Sunday                 1
5 2022-11-19 07:54:14.487848   Saturday                 7
6 2022-11-18 07:54:14.487848     Friday                 6
7 2022-11-17 07:54:14.487848   Thursday                 5
8 2022-11-16 07:54:14.487848  Wednesday                 4
9 2022-11-15 07:54:14.487848    Tuesday                 3

We can see that we have successfully performed the ordinal encoding