In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
# Lets create a dataset 
date = pd.Series(pd.date_range('2015-1-5 11:20:00', periods=7, freq='H'))
ds = pd.DataFrame(dict(date=date))

In [3]:
# lets see the dataset
ds.head()

                 date
0 2015-01-05 11:20:00
1 2015-01-05 12:20:00
2 2015-01-05 13:20:00
3 2015-01-05 14:20:00
4 2015-01-05 15:20:00

### Extract the hr, minute and second

In [4]:
ds['hour'] = ds['date'].dt.hour
ds['min'] = ds['date'].dt.minute
ds['sec'] = ds['date'].dt.second

# print the dataset
ds.head()

                 date  hour  min  sec
0 2015-01-05 11:20:00    11   20    0
1 2015-01-05 12:20:00    12   20    0
2 2015-01-05 13:20:00    13   20    0
3 2015-01-05 14:20:00    14   20    0
4 2015-01-05 15:20:00    15   20    0

### Extract time part

In [5]:
ds['time'] = ds['date'].dt.time

ds.head()

                 date  hour  min  sec      time
0 2015-01-05 11:20:00    11   20    0  11:20:00
1 2015-01-05 12:20:00    12   20    0  12:20:00
2 2015-01-05 13:20:00    13   20    0  13:20:00
3 2015-01-05 14:20:00    14   20    0  14:20:00
4 2015-01-05 15:20:00    15   20    0  15:20:00

### Extract hr, min, sec, at the same time

In [6]:
# now let's repeat what we did in cell 3 in 1 command

ds[['h','m','s']] = pd.DataFrame([(x.hour, x.minute, x.second) for x in ds['time']])

ds.head()

                 date  hour  min  sec      time   h   m  s
0 2015-01-05 11:20:00    11   20    0  11:20:00  11  20  0
1 2015-01-05 12:20:00    12   20    0  12:20:00  12  20  0
2 2015-01-05 13:20:00    13   20    0  13:20:00  13  20  0
3 2015-01-05 14:20:00    14   20    0  14:20:00  14  20  0
4 2015-01-05 15:20:00    15   20    0  15:20:00  15  20  0

### Calculate time difference

In [7]:
# let's create another toy dataframe with 2 timestamp columns
# and 7 rows each, in the first column the timestamps change monthly,
# in the second column the timestamps change weekly

date1 = pd.Series(pd.date_range('2012-1-1 12:00:00', periods=7, freq='M'))
date2 = pd.Series(pd.date_range('2013-3-11 21:45:00', periods=7, freq='W'))
 
ds = pd.DataFrame(dict(Start_date = date1, End_date = date2))

In [8]:
# lets check the dataset
ds.head()

           Start_date            End_date
0 2012-01-31 12:00:00 2013-03-17 21:45:00
1 2012-02-29 12:00:00 2013-03-24 21:45:00
2 2012-03-31 12:00:00 2013-03-31 21:45:00
3 2012-04-30 12:00:00 2013-04-07 21:45:00
4 2012-05-31 12:00:00 2013-04-14 21:45:00

### Time Elapsed in seconds

In [9]:
ds['diff_seconds'] = ds['End_date'] - ds['Start_date']
ds['diff_seconds']=ds['diff_seconds']/np.timedelta64(1,'s')

In [10]:
ds.head()

           Start_date            End_date  diff_seconds
0 2012-01-31 12:00:00 2013-03-17 21:45:00    35545500.0
1 2012-02-29 12:00:00 2013-03-24 21:45:00    33644700.0
2 2012-03-31 12:00:00 2013-03-31 21:45:00    31571100.0
3 2012-04-30 12:00:00 2013-04-07 21:45:00    29583900.0
4 2012-05-31 12:00:00 2013-04-14 21:45:00    27510300.0

### Time elapsed in minutes

In [11]:
# let's calculate the time elapsed in minutes

ds['diff_seconds'] = ds['End_date'] - ds['Start_date']
ds['diff_seconds']=ds['diff_seconds']/np.timedelta64(1,'m')
ds.head()

           Start_date            End_date  diff_seconds
0 2012-01-31 12:00:00 2013-03-17 21:45:00      592425.0
1 2012-02-29 12:00:00 2013-03-24 21:45:00      560745.0
2 2012-03-31 12:00:00 2013-03-31 21:45:00      526185.0
3 2012-04-30 12:00:00 2013-04-07 21:45:00      493065.0
4 2012-05-31 12:00:00 2013-04-14 21:45:00      458505.0

### Work with different timezones
Let's see how to work with timestamps that are in different time zones.

In [12]:
# first, let's create a toy dataframe with some timestamps in different time zones

ds = pd.DataFrame()

ds['time'] = pd.concat([
    pd.Series(
        pd.date_range(
            start='2014-08-01 09:00', freq='H', periods=3,
            tz='Europe/Berlin')),
    pd.Series(
        pd.date_range(
            start='2014-08-01 09:00', freq='H', periods=3, tz='US/Central'))
    ], axis=0)

ds

                        time
0  2014-08-01 09:00:00+02:00
1  2014-08-01 10:00:00+02:00
2  2014-08-01 11:00:00+02:00
0  2014-08-01 09:00:00-05:00
1  2014-08-01 10:00:00-05:00
2  2014-08-01 11:00:00-05:00

We can see the different timezones indicated by the +2 and -5, respect to the meridian.

In [13]:
# to work with different time zones, first we unify the timezone to the central one
# setting utc = True

ds['time_utc'] = pd.to_datetime(ds['time'], utc=True)

# next we change all timestamps to the desired timezone, eg Europe/London
# in this example

ds['time_london'] = ds['time_utc'].dt.tz_convert('Europe/London')


ds

,time,time_utc,time_london
0,2014-08-01 09:00:00+02:00,2014-08-01 07:00:00+00:00,2014-08-01 08:00:00+01:00
1,2014-08-01 10:00:00+02:00,2014-08-01 08:00:00+00:00,2014-08-01 09:00:00+01:00
2,2014-08-01 11:00:00+02:00,2014-08-01 09:00:00+00:00,2014-08-01 10:00:00+01:00
0,2014-08-01 09:00:00-05:00,2014-08-01 14:00:00+00:00,2014-08-01 15:00:00+01:00
1,2014-08-01 10:00:00-05:00,2014-08-01 15:00:00+00:00,2014-08-01 16:00:00+01:00
2,2014-08-01 11:00:00-05:00,2014-08-01 16:00:00+00:00,2014-08-01 17:00:00+01:00

For feature engineering, we can set all timezones to the central, utc=True, and work with that to extract time elapsed etc. The additional timezone encoding is mostly for human readability.